<h1>Caratteristiche operative</h1>
<!-- <p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p> -->

<table class="table table-striped table-bordered table-hover table-responsive" ng-controller="caratteristicheOperativeCtrl">
    <thead>
      <tr>
        <th>id</th>
        <th>Consultazione caratteristiche</th>
        <th>Per rapporto</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="d in caratteristicheOperativeAll" >
                <td>{{d.id}}</td>
                <td>{{d.CCO}}</td>
                <td>{{d.CCOPR}}</td>
        </tr>        
    </tbody>
  </table>
  