<h1>Consultazione Prodotto</h1>

  <table class="table table-striped table-bordered table-hover table-responsive" ng-controller="consultazioneProdottoCtrl">
        <thead>
            <th>Id</th>
            <th>Consultazione estesa</th>
            <th>Consultazione ridotta</th>
            <th>Lista controparti</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="d in consultazioneProdottoAll" >
            <td>{{d.id}}</td>
            <td>{{d.CE}}</td>
            <td>{{d.CR}}</td>
            <td>{{d.LC}}</td>
          </tr>         
        </tbody>
      </table>