<h1>Consultazione Poteri</h1>

<table class="table table-striped table-bordered table-hover table-responsive" ng-controller="consultazionePoteriCtrl">
    <thead>
      <tr>
        <th>Id</th>
        <th>Verifica poteri</th>
        <th>Consultazione Presenza</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="d in consultazionePoteriAll" >
        <td>{{d.id}}</td>
        <td>{{d.VP}}</td>
        <td>{{d.CP}}</td>
      </tr>         
    </tbody>
  </table>