<h1>Dettaglio Accordo</h1>

<table class="table table-striped table-bordered table-hover table-responsive" ng-controller="dettaglioAccordoCtrl">
        <thead>
          <tr>
            <th>Id</th>
            <th>Intestazione Raporto</th>
            <th>Stato E Blocchi</th>
            <th>Dati Prinzipali</th>
            <th>Presenza E Dati</th>
            <th>Verifica Trasferimento</th>
            <th>Ndg E Stato</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="d in dettaglioAccordoAll" >
            <td>{{d.id}}</td>
            <td>{{d.IR}}</td>
            <td>{{d.SEB}}</td>
            <td>{{d.DP}}</td>
            <td>{{d.PED}}</td>
            <td>{{d.VT}}</td>
            <td>{{d.NES}}</td>
          </tr>         
        </tbody>
      </table>


