<h1>Gestione Convenzioni</h1>

<table class="table table-striped table-bordered table-hover table-responsive" ng-controller="gestioneConvenzioniCtrl">
    <thead>
      <tr>
        <th>Id</th>
        <th>Constultazione anagrafica</th>
        <th>Gestione ritorno</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="d in gestioneConvenzioniAll" >
        <td>{{d.id}}</td>
        <td>{{d.CA}}</td>
        <td>{{d.GR}}</td>
      </tr>         
    </tbody>
  </table>