<h1>Gestione accordo</h1>
<!-- <p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p> -->

<table class="table table-striped table-bordered table-hover table-responsive" ng-controller="gestioneAccordoCtrl">
    <thead>
      <tr>
        <th>Id</th>
        <th>Gestione Accordi</th>
        <th>GA Telematico</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="d in gestioneAccordoAll" >
        <td>{{d.id}}</td>
        <td>{{d.GA}}</td>
        <td>{{d.GAT}}</td>
      </tr>         
    </tbody>
  </table>
  