<h1>Lista Accordi</h1>

<table class="table table-striped table-bordered table-hover table-responsive" ng-controller="listaAccordiCtrl">
    <thead>
      <tr>
        <th>Id</th>
        <th>Dati di accordi</th>
        <th>Dettaglio accordi</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="d in listaAccordiAll" >
        <td>{{d.id}}</td>
        <td>{{d.DDA}}</td>
        <td>{{d.DA}}</td>
      </tr>         
    </tbody>
  </table>