<h1>Ricerca Valori</h1>

<table class="table table-striped table-bordered table-hover table-responsive" ng-controller="ricercaValoriCtrl">
    <thead>
      <tr>
        <th>Id</th>
        <th>Condizioni di liquidazione</th>
        <th>Valori tariffe</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="d in ricercaValoriAll" >
        <td>{{d.id}}</td>
        <td>{{d.CDL}}</td>
        <td>{{d.VT}}</td>
      </tr>         
    </tbody>
  </table>